<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Insider Test Automation Suite">

    <parameter name="browser" value="firefox"/>
    <listeners>
        <listener class-name="com.insider.test.UI.testbase.Listener"/>
    </listeners>

    <test name="UI Integrity Tests">
        <classes>
            <class name="com.insider.test.UI.testcases.HomeTests"/>
        </classes>
    </test>

    <test name="Recruitment Flow Tests">
        <classes>
            <class name="com.insider.test.UI.testcases.QAJobTests"/>
        </classes>
    </test>

</suite>